.values-page {
  .title {
    color: white;
    font-weight: bold;
  }

  .sub-title {
    color: $primary-color;
    font-weight: bold;
  }

  .description {
    color: white;
    font-size: 16px;

    @media (min-width: 425px) {
      padding: 30px 120px;
    }
  }

  .service-card-container {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
